* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

::-webkit-scrollbar-thumb {
  background-color: #7a7a7a;
  border-radius: 20px;
  border: 6px solid #7a7a7a;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #cfd1e1;
}

header {
  position: absolute;
  top: 70px;
}
.container {
  margin-top: 280px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px 100px;
  flex-wrap: wrap;
  z-index: -1;
  overflow-x: hidden;
}
.container .box {
  position: relative;
  width: 240px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(#fff,#fff,#e3e3e3);
  filter: blur(1px);
  z-index: 1;
}
.container .box::after {
  content: '';
  position: absolute;
  top: 1px;
  right: -1px;
  width: 20px;
  height: 100%;
  background: #9d9d9d;
  filter: blur(1px);
  z-index: 1;
}

.container .box .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #eee;
  justify-content: center;
}
.container .box .shadow::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(100% + 5px);
  width: 100%;
  height: 200%;
  background: linear-gradient(rgba(0,0,0,0.1), transparent);
  transform: skewX(45deg);
}
.container .box .shadow::after {
  content: '';
  position: absolute;
  bottom: -200%;
  left: calc(100% + 15px);
  width: 100%;
  height: 200%;
  background: linear-gradient(rgba(0,0,0,0.1), transparent);
  transform: skewX(45deg);
}
.container .box .content {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(#dbdae1, #a3aaba);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1), 15px 15px 15px rgba(0,0,0,0.1),
  20px 20px 20px rgba(0,0,0,0.1),
  50px 50px 50px rgba(0,0,0,0.1),
  inset 3px 3px 2px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .box .content .percent {
  position: relative;
  width: 150px;
  height: 150px;

}
.container .box .content .percent::before {
  content: attr(data-text);
  position: absolute;
  inset: 20px;
  background: #555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.container .box .content .percent svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 3;
  stroke: rgba(0,0,0,05);
  transform: translate(5px,5px);
}

.container .box .shadow .content .number {
  text-align: center;
} 

header {
  text-align: center;
}

button {
  padding: 6px;
  border: none;
  background-color: #555;
  color: white;
  border-radius: 4px;
}

.hidden-list {
  border: 1px solid red;
  display: none;
  border: none;
}

input {
  position: relative;
  border-radius: 4px;
  width: 70%;
  padding: 4px;
}

.card-list {
  border: 1px solid black;
  border-radius: 4px;
  z-index: 999;
  background-color: #fff;
  width: 70%;
  margin: 0 auto;
  padding-top: 10px;
  overflow: auto;
  height: 200px;
}

.card-list a {
  color: black;
  text-decoration: none;
  display: block;
  border-bottom: solid #aba 1px;
  width: 100%;
  height: 30px;
}
